body{
  background-color: black;
  color: rgba(255,255,255,0.8);
}

#landing{
  height: 100vh;
  background-image: url('assets/backgroundpic.jpg');
  background-position: center;
  background-size: 1850px 1110px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

#textArea{
  margin-top: 30vh;
}

#intro{
  margin-top: 50px;
}

#projects{
  background-color: rgb(61,61,61);
}

#p1{
  height: 450px;
}
